Django==4.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
mypy==1.2.0
sqlparse==0.4.3
firebase=4.0.1
firebase-admin=6.0.1
django-stubs==1.16.0
django-stubs-ext==0.8.0
asgiref==3.6.0
PyJWT==2.6.0